In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import time
from datetime import datetime
from collections import Counter
from subprocess import check_output
from datetime import timedelta

In [2]:
path_to_data = "/media/raph/Elements/ml1/churn/"
transactions_chunk_size = 10000
nrows_for_members = None
nrows_for_train = None
nrows_for_train_v2 = None
nrows_for_test = None
nrows_for_test_v2 = None

In [3]:
train = pd.read_csv(path_to_data+"train_v2.csv", nrows=nrows_for_train_v2)
train = pd.concat((train, pd.read_csv(path_to_data+"train.csv", nrows=nrows_for_train)), axis=0, ignore_index=True).reset_index(drop=True)
members = pd.read_csv(path_to_data + "members_v3.csv", nrows=nrows_for_members)
test = pd.read_csv(path_to_data+"sample_submission_v2.csv", nrows=nrows_for_test_v2)
test = pd.concat((test, pd.read_csv(path_to_data+"sample_submission_zero.csv", nrows=nrows_for_test)), axis=0, ignore_index=True).reset_index(drop=True)

In [4]:
training = pd.merge(left=train, right=members, how='left', on=['msno'])
del train
testing = pd.merge(left=test, right=members, how='left', on=['msno'])
del test
del members

In [5]:
# changing type to int and putting -1 for missing values
training['city'] = training.city.apply(lambda x: int(x) if pd.notnull(x) else -1)
training['registered_via'] = training.registered_via.apply(lambda x: int(x) if pd.notnull(x) else -1)
training['bd'] = training.bd.apply(lambda x: int(x) if pd.notnull(x) else -1)
training['bd'] = training.bd.apply(lambda x: x if (10<x<100) else -1)

# encode gender
genders_encoding = {'male': 0, 'female': 1}
training['gender'] = training.gender.apply(lambda x: genders_encoding[x] if pd.notnull(x) else -1)

# changing date formats
training['registration_init_time'] = training.registration_init_time.apply(lambda x: datetime.strptime(str(int(x)), "%Y%m%d").date() if pd.notnull(x) else "NAN")

training.set_index('msno', inplace=True)

In [6]:
# reducing memory usage:
from tools import change_datatype, change_datatype_float
change_datatype(training)
change_datatype_float(training)

change_datatype(testing)
change_datatype_float(testing)

In [7]:
def reformat_transactions(df):
    df['transaction_date'] = df.transaction_date.apply(lambda x: datetime.strptime(str(int(x)), "%Y%m%d").date() if pd.notnull(x) else "NAN")
    df['membership_expire_date'] = df.membership_expire_date.apply(lambda x: datetime.strptime(str(int(x)), "%Y%m%d").date() if pd.notnull(x) else "NAN")
    df['payment_method_id'] = df.payment_method_id.apply(lambda x: int(x) if pd.notnull(x) else -1)
    boolean_indexes = df["transaction_date"] < datetime.strptime("20170201", "%Y%m%d").date()
    indexes_to_drop = [e[0] if e[1] else None for e in boolean_indexes.iteritems()]
    indexes_to_keep = set(range(df.shape[0])) - set(indexes_to_drop)
    df = df.take(list(indexes_to_keep))

In [8]:
df_iter = pd.read_csv(path_to_data+'transactions.csv', low_memory=False, iterator=True, chunksize=transactions_chunk_size)

training["total_number_of_transactions"] = 0

training["current_number_of_transactions"] = 0
training.drop(['current_number_of_transactions'], axis=1, inplace=True)

In [9]:
i = 0
print("starting iteration...")
for transactions in df_iter:
    print("i="+str(i))
    reformat_transactions(transactions)
    user_count = Counter(transactions['msno']).most_common()
    user_count = pd.DataFrame(user_count)
    user_count.columns = ['msno', 'current_number_of_transactions']
    user_count.set_index('msno', inplace=True)
    training = pd.merge(left=training, right = user_count, how = 'left', left_index=True, right_index=True)
    training['current_number_of_transactions'] = training.current_number_of_transactions.apply(lambda x: int(x) if pd.notnull(x) else 0)
    training["total_number_of_transactions"] += training["current_number_of_transactions"]
    training.drop(['current_number_of_transactions'], axis=1, inplace=True)
    i+=1
    
    if i >0:
        break

starting iteration...
i=0

In [10]:
training.head()

,is_churn,city,bd,gender,registered_via,registration_init_time,total_number_of_transactions
msno,,,,,,,
+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,0,1,-1,-1,7,2014-06-08,0
+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,0,1,-1,-1,7,2014-06-08,0
+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,0,15,26,0,9,2010-11-18,0
+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,0,15,26,0,9,2010-11-18,0
+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=,0,1,-1,-1,7,2014-09-27,0

In [11]:
i = 0
training.reset_index(inplace=True)
training_copy = training.copy()
training_copy.head()

,msno,is_churn,city,bd,gender,registered_via,registration_init_time,total_number_of_transactions
0,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,0,1,-1,-1,7,2014-06-08,0
1,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,0,1,-1,-1,7,2014-06-08,0
2,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,0,15,26,0,9,2010-11-18,0
3,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,0,15,26,0,9,2010-11-18,0
4,+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=,0,1,-1,-1,7,2014-09-27,0

In [12]:
print("starting iteration, looking for most recent transaction...")
for transactions in df_iter:
    print("i="+str(i))
    
    reformat_transactions(transactions)
    recent_transactions = transactions.sort_values(['transaction_date']).groupby('msno').first()
    recent_transactions.reset_index(inplace=True)
    temp_training = pd.merge(left=training_copy, right=recent_transactions, how = 'right', on=['msno'], right_index=True)
    training = pd.concat((training, temp_training))
    training = training.sort_values(['transaction_date']).groupby('msno').first()
    
    i+=1
    if i >0:
        break

starting iteration, looking for most recent transaction...
i=0

In [13]:
del training_copy
training.head()

,actual_amount_paid,bd,city,gender,is_auto_renew,is_cancel,is_churn,membership_expire_date,payment_method_id,payment_plan_days,plan_list_price,registered_via,registration_init_time,total_number_of_transactions,transaction_date
msno,,,,,,,,,,,,,,,
+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,NaN,-1.0,1.0,-1.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,7.0,2014-06-08,0.0,NaN
+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,NaN,26.0,15.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,9.0,2010-11-18,0.0,NaN
+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=,NaN,-1.0,1.0,-1.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,7.0,2014-09-27,0.0,NaN
++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=,NaN,21.0,18.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,7.0,2016-03-15,0.0,NaN
++/UDNo9DLrxT8QVGiDi1OnWfczAdEwThaVyD0fXO50=,NaN,32.0,22.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,9.0,2012-01-22,0.0,NaN

In [20]:
todo = "test"

if todo=="test":
    time_delta = timedelta(year=0, month=1, day=0)
else:
    date_to_remove = datetime(year=0, month=0, day=0)
    
training["membership_expire_date"] = training.membership_expire_date.apply(lambda x: x - date_to_remove if not type(x)==type('str') else 0.0)
training["transaction_date"] = training.transaction_date.apply(lambda x: x - date_to_remove if not type(x)==type('str') else 0.0)

training['membership_expire_date'] = training.membership_expire_date.apply(lambda x: time.mktime(x.timetuple()) if not type(x)==type('str') else 0.0)
training['transaction_date'] = training.membership_expire_date.apply(lambda x: time.mktime(x.timetuple()) if not type(x)==type('str') else 0.0)

msno
+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=    NaN
+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=    NaN
+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=    NaN
++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=    NaN
++/UDNo9DLrxT8QVGiDi1OnWfczAdEwThaVyD0fXO50=    NaN
++/ZHqwUNa7U21Qz+zqteiXlZapxey86l6eEorrak/g=    NaN
++0/NopttBsaAn6qHZA2AWWrDg7Me7UOMs1vsyo4tSI=    NaN
++0BJXY8tpirgIhJR14LDM1pnaRosjD1mdO1mIKxlJA=    NaN
++0EzISdtKY48Z0GY62jer/LFQwrNIAbADdtU5xStGY=    NaN
++0nOC7BmrUTtcSboRORfg6ZXTajnBDt1f/SEgH6ONo=    NaN
++0wqjjQge1mBBe5r4ciHGKwtF/m322zkra7CK8I+Mw=    NaN
++1G0wVY14Lp0VXak1ymLhPUdXPSFJVBnjWwzGxBKJs=    NaN
++1GCIyXZO7834NjDKmcK1lBVLQi9PsN6sOC7wfW+8g=    NaN
++1Wu2wKBA60W9F9sMh15RXmh1wN1fjoVGzNqvw/Gro=    NaN
++2Ju1OdxLSyexwhZ/C0glNK0DMIfUjsFpk9lt8Dll8=    NaN
++38dVm0EHKCOfND6oEal3xFKtqJYZTZJmnpbAOOZBk=    NaN
++3A6JMzYJeron30GTcDostfXoAl8rTBuB2M8GeVdNU=    NaN
++3Z+W8OPnpbHYfrKwqRKN1bF83XEbxjdYUolhGdHZg=    NaN
++3fWHRDC5GWWlovHcrOKWNwZYOjWWkJyeLlL65uv78=    NaN
++3wqX72HmowxFh5MrHvNi5Ce8D3ldo4zaUL932TYbs=    NaN
++4RuqBw0Ss6bQU4oMxaRlbBPoWzoEiIZaxPM04Y4+U=    NaN
++4cUL0b9CfW8cj0A/wfSxQc4k4fcVtWcLqk2UOdpKs=    NaN
++4wuAZmfzMBjRHP4vDpTk+jkj9Xam8SW5rNJrGFEsE=    NaN
++57miEuSte1zcmehY9pZ1u9mZAqA3wX4h6CA5L17SA=    NaN
++5BmBHS2ebe4Whfg/7KhGkj/sQ6rtNHsktLxsI01KE=    NaN
++5XBxbJNz3idK9egVoGbWJ4xhGQu2MR0pSP0kL9DK4=    NaN
++5Z7z4xXBhCjID+BYk/RLkqtTTAULRXhvjfOc88aEw=    NaN
++5nv+2nsvrWM7dOT+ZiWJ5uTZOzQS0NEvqu3jidTjU=    NaN
++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=    NaN
++64pHA0OvDq9P9nEAVqSQONHE1ODxEM0KmcazJxKZ8=    NaN
                                               ...
zzsIerQnY70zKAgAD1GSB89LFnfIxXwXO+FBJEyMbDo=    NaN
zzsumtyPQEJN7XNakERtaZiXsGmc786aWSHFScPfV5k=    NaN
zzsusjoGJ6jH+qVF5cMfJGphBO7MR4P4P1rD7qxITX0=    NaN
zzt4LinfZVgufjQc8MVgTz9CwxB9pJtNJDnk3d3F7Ac=    NaN
zztGcSZznx0uMBvc0fTQVTfCzeS7Ho/otO2L/4FXs/w=    NaN
zztRj67GpP0kdrpfKJ4X4bUrF+ljVCkR0K8cRDIbzRI=    NaN
zztb7cCNxnkeZ33rHQ0Z3cnshdE8gn/nwMTiNP49b4o=    NaN
zztg1DNR0a6n+9+CXd8WAfNZHsl5VvyYC2ngeXlwpkc=    NaN
zzuGxQfF86Zsx5nqF1Yh+oJpEIfdjFKKYpTqFZMdxzk=    NaN
zzuiTQN9MP4dT+mVTYuaFGeQwum5iIkUW56LyzPi4gA=    NaN
zzv/igs0VigNppe7WR8qgz1h6aXFFzQLu5paAswIbcQ=    NaN
zzv2n8+r3LGI4gFp6c4hpseYdfHrl829IY3IlA0BF4Q=    NaN
zzvB5JRK4WBwtKJoNtnNF34r5dUAuenPpR9xrxdfMSI=    NaN
zzvRDIlZcYclP7ocM+wG1WUPbUHPtMRPKerl/hionLg=    NaN
zzvZ4AqXwz9Yh2nyExvdWL3YxRVvFLLotZaLXJL6Hik=    NaN
zzvhQSh5Xs6/9DO+wUTtEbSZRBHjGIpHMOP2kVMrXmk=    NaN
zzwimfmJBJ4SrRw3bYXQzE9UrizlSE10yI7dHPvG5xM=    NaN
zzwlIVmSuehTevzOi+WkcC7b3+MBYDiE4qybszTyhII=    NaN
zzwsW1MnZalh6V5BwYE+V6hFWyKJYOf+rFd+SWVXxp8=    NaN
zzx1qgX8R9EmT8PAn4/KyQ6s7PuLYTfR8kUCABiCW9E=    NaN
zzx4hKiyR9XFEGAr7SAjcCPbKJCZ+IqegWL7dPjPwZk=    NaN
zzx7wcys2Nha6yP2Skjs+R1/JNAfEuAWUaAp0qsV2Cg=    NaN
zzxPS8+wCuE4HE85EDp4WBHgS5l548vfwXJbQq1HZ9I=    NaN
zzxZeMFx2fjfKZigMnJa2w0EmloDbm8+8nTf/o/00GY=    NaN
zzxi7n5xoTYo9Q3VTygLWvl/rBDcexwaeAry0yK7Q0E=    NaN
zzy7iqSpfcRq7R4hmKKuhI+CJRs79a6pteqEggpiNO0=    NaN
zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=    NaN
zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=    NaN
zzzF1KsGfHH3qI6qiSNSXC35UXmVKMVFdxkp7xmDMc0=    NaN
zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=    NaN
Name: transaction_date, Length: 1084584, dtype: object